@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');

/*Paleta de colores*/

$verdeOscu:#585F4F;
$verdeClaro:#404C30;
$amarilloOsc: #E6E29B;

/*Fuente*/

$fuente:'Vazirmatn',
sans-serif;