@import "variables";
@import "global";
@import "encabezado";
.menu {
    background-color: map-get($colores, verdeClaro);
}

.section__title {
    display: flex;
    color: map-get($colores, amarilloOsc);
    justify-content: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0em;
}

.row {
    .parrafo {
        text-align: justify;
        font-weight: bold;
        padding-left: 1.5em;
        padding-right: 0.5em;
        padding-bottom: 0em;
        margin: 0;
        justify-content: stretch;
    }
    .contenido {
        background-image: linear-gradient(to left, map-get($colores, verdeClaro), map-get($colores, verdeOscu));
        margin: 0;
    }
    .section1 {
        background-image: linear-gradient(to left, map-get($colores, verdeClaro), map-get($colores, verdeOscu));
        @include medidasCero(0, 0);
    }
    .section2 {
        background-image: linear-gradient(to right, map-get($colores, verdeClaro), map-get($colores, verdeOscu));
        @include medidasCero(0, 0);
    }
    .section3 {
        .galeria {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 0.6fr);
            align-items: stretch;
            border: solid 3px map-get($colores, amarilloOsc);
            @include medidasCero(0, 0);
            li {
                border: solid 2px map-get($colores, amarilloOsc);
                width: map-get($medidasImagenes, ancho);
                height: map-get($medidasImagenes, alto);
                img {
                    width: map-get($medidasImagenes, ancho);
                    height: map-get($medidasImagenes, alto);
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.fondoBlanco {
    background-color: map-get($colores, blanco);
}

.formulario {
    text-align: center;
    @include medidasCero(0, 0);
    section {
        color: map-get($colores, blanco);
        margin-top: 5px;
        .formatInput {
            color: map-get($colores, verdeOscu);
            border: solid 2px map-get($colores, amarilloOsc);
            text-align: left;
            background-color: map-get($colores, verdeTransp);
            .formatInput--nomAp {
                @extend .formatInput;
                color: map-get($colores, amarilloOsc);
            }
            .formatInput--mail {
                @extend .formatInput;
                font-weight: bold;
            }
        }
    }
}

.ubicacion {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.redes {
    .iconos {
        text-align: center;
    }
    img {
        width: map-get($medidasIconos, ancho);
        height: map-get($medidasIconos, alto);
    }
}

.carrusel {
    @include medidasCero(0, 0);
    display: flex;
    justify-content: center;
}

.pieDePagina {
    border: solid 3px map-get($colores, amarilloOsc);
    text-align: center;
    margin-top: 47px;
    margin-left: 5px;
    margin-right: 5px;
}